DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres
DATABASE_DIRECT_URL=postgresql://postgres:postgres@localhost:54322/postgres

SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_GITHUB_SECRET=""

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=""

SUPABASE_AUTH_EXTERNAL_LINKEDIN_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_LINKEDIN_SECRET=""

SUPABASE_AUTH_EXTERNAL_TWITTER_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_TWITTER_SECRET=""
